src/main/config/Entities.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.cvele.com/ws/Order/Entities"
           targetNamespace="http://www.cvele.com/ws/Order/Entities"
           elementFormDefault="qualified">
               
    <xsd:complexType name="Pizza">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="price" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>            
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
